<html><body>
{$_SESSION['loves_num']}
	<table border="1">
    <tr>
        <th>选择</th>
        <th>店面</th>
        <th>图片</th>
        <th>评分</th>
        <th>人均价格</th>
        <th>操作</th>
    </tr>
    <tr>
    <?php for($i=0;$i<$_SESSION['loves_num'];$i++) {;?>
        <td><input type="checkbox" name="chk" id="con" title="<?php echo $v[$i][0]['shop_id'];?>"></td>
        <td><?php echo $v[$i][0]['shop_name'];?></td>
        <td><?php echo $v[$i][0]['shop_img'];?></td>
        <td><?php echo $v[$i][0]['level'];?></td>
        <td><?php echo $v[$i][0]['ave_price'];?></td>
        <td><a href="__URL__/del/shop_id/<?php echo $v[$i][0]['shop_id'];?>">删除</a></td>
    </tr>
<?php } ?>
    <tr>
        <td colspan="6">
        全选<input type="checkbox" name="kkk" id="k" onclick="aa()">&nbsp;&nbsp;&nbsp;&nbsp;
        反选<input type="checkbox" name="ddd" id="" onclick="bb()">&nbsp;&nbsp;&nbsp;&nbsp;
        全不选<input type="checkbox" name="bbb" id="" onclick="cc()">
        <input type="button" value="删除" style="margin-left:85px;" onclick="dels()">
        </td>
    </tr>
</table>
<script src="public/js/jQuery.js"></script>
<script>
var chk = document.getElementsByName('chk');
function aa(){
    for(var i=0; i<chk.length; i++){
        chk[i].checked=true;
    }
}
function bb(){
    for(var i=0; i<chk.length; i++){
        if(chk[i].checked){
            chk[i].checked=false;
        }else{
            chk[i].checked=true;
        }
    }
}
function cc(){
    for(var i=0; i<chk.length; i++){
        if(chk[i].checked){
            chk[i].checked=false;
        }
    }
}
function dels(){
    var str='';
    var box=document.getElementsByName('chk');
    var aa=document.getElementById('aa');
    for(var i=0;i<chk.length;i++){
        if(chk[i].checked){
            str=str+chk[i].title+',';
        }
    }
    str=str.substring(str.length-1,',');
    //alert(str);die;
    var ajax=new XMLHttpRequest();
    ajax.onreadystatechange=function(){
        if(ajax.readyState==4){
            document.getElementById('rep').innerHTML=ajax.responseText;
        }
    }
    ajax.open('get','__APP__/Home/User/delss?shop_id='+str);
    ajax.send(null);
}
</script>
</body></html>